<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sakura Dental</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <link rel="shortcut icon" type="image/png" th:href="@{/favicon.png}" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/812c8ee19a.js" crossorigin="anonymous"></script>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-custom-gradient h-dvh flex">
  <!-- SIDEBAR -->
  <section th:insert="~{components/sidebarTemplate.html :: sidebar(selectedPage=2)}"></section>
  <div class="grid grid-cols-6 grid-rows-8 gap-8 w-full">
    <div class="col-start-2 flex items-start justify-center">
      <img th:src="@{/sakura_logo.png}" alt="Logo" class="w-56 md:w-40 mt-4 md:mt-2">
    </div>

    <!-- Contenido principal -->
    <div class="col-start-2 col-end-7 row-start-2 row-end-8 mx-8">
      <div class="flex flex-row justify-between self-center">
        <h2 class="text-3xl font-medium font-kanit">Habilitar Productos</h2>

      </div>

      <div class="relative bg-white mt-2 rounded-[20px] h-full ">
        <!-- Table and filter -->

        <div class="flex flex-row justify-end self-center mb-5">


        </div>
        <!-- Tabla de productos -->
        <div class="float- overflow-x-auto mx-4 sm:rounded-lg h-[80%]">
          <div class="">
            <table class="relative w-full  text-sm text-left rtl:text-right text-gray-500">
              <thead class="text-xs text-gray-700 uppercase bg-gray-50 ">
                <tr>
                  <th scope="col" class="pl-6 py-3">
                    Codigo
                  </th>
                  <th scope="col" class="pl-6 py-3">
                    Fecha Caducidad
                  </th>
                  <th scope="col" class="px-6 py-3">
                    Producto
                  </th>
                  <th scope="col" class="py-3">
                    Descripción
                  </th>
                  <th scope="col" class="px-6 py-3">
                    Estado
                  </th>
                  <th scope="col" class="px-4 py-3">
                    Acciones
                  </th>
                </tr>
              </thead>

              <tbody>
                <tr th:each="producto : ${productos}" class="bg-white border-b ">
                  <th scope="row" th:text="${producto.codigo}"
                    class="pl-6 py-4 font-medium text-gray-900 whitespace-nowrap "></th>

                  <th th:text="${producto.fechaCaducidad}"
                    class="pl-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                  </th>

                  <th th:text="${producto.nombre}" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                  </th>

                  <td th:text="${producto.descripcion}" class=" py-4">
                  </td>
                  <td th:text="${producto.estado ? 'Habilitado':'Deshabilitado'}"></td>

                  <td class="px-2 py-4 ">

                    <a th:href="@{/productos/habilitar/{id}(id=${producto.codigo})}"
                      class="ml-1 p-2 px-2 w-8 rounded-lg bg-white shadow-md">
                      <button>
                        <i class="fa-solid fa-check text-[18px] text-green-container"></i>
                      </button>
                    </a>

                    <a th:href="@{/productos/eliminar/{id}(id=${producto.codigo})}"
                      class="ml-1 p-2 px-3 w-8 rounded-lg bg-white shadow-md"
                      onclick="confirmarEliminacion(event, this)">
                      <button>
                        <i class="fa-solid fa-xmark text-red-600 text-[18px]"></i>
                      </button>
                    </a>

                  </td>
                </tr>



              </tbody>

            </table>
          </div>

        </div>

        <nav class="flex items-center flex-wrap md:flex-row justify-between" aria-label="Table navigation">
          <span
            class="text-sm font-normal absolute bottom-0 left-0 p-4 text-gray-500 mb-4 md:mb-0 block w-full md:inline md:w-auto">
            Showing
            <span class="font-semibold text-gray-900">
              [[${currentPage * pageSize + 1}]] - [[${(currentPage + 1) * pageSize < totalItems ? (currentPage + 1) *
                pageSize : totalItems}]] </span>
                de
                <span class="font-semibold text-gray-900">
                  [[${totalItems}]]
                </span>
            </span>
            <ul class="inline-flex -space-x-px rtl:space-x-reverse text-sm h-8 m-4 absolute bottom-0 right-0">
              <li th:if="${currentPage > 0}">
                <a th:href="@{/productos/habilitar(page=${currentPage - 1}, size=${pageSize})}"
                  class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700">
                  Anterior
                </a>
              </li>
              <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
                <a th:href="@{/productos/habilitar(page=${i}, size=${pageSize})}" th:text="${i + 1}"
                  th:classappend="${currentPage == i} ? 'text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700' : 'leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700'"
                  class="flex items-center justify-center px-3 h-8">
                </a>
              </li>
              <li th:if="${currentPage + 1 < totalPages}">
                <a th:href="@{/productos/habilitar(page=${currentPage + 1}, size=${pageSize})}"
                  class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700">
                  Siguiente
                </a>
              </li>
            </ul>
        </nav>

      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
  <script>
    function confirmarEliminacion(event, element) {
      event.preventDefault(); // Evita que el enlace se siga automáticamente
      Swal.fire({
        title: '¿Seguro que quieres eliminar?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Sí, eliminar',
        cancelButtonText: 'No, cancelar'
      }).then((result) => {
        if (result.isConfirmed) {
          window.location.href = element.href; // Sigue el enlace si el usuario confirma
        }
      });
    }
  </script>
</body>

</html>