<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sakura Dental</title>
  <link rel="stylesheet" href="./css/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/812c8ee19a.js" crossorigin="anonymous"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            'light-bg-color': '#FFFFFF99',
            'letters-color': '#271E4A',
            'button-color': '#CA79C6'
          },
          backgroundImage: theme => ({
            'custom-gradient': 'linear-gradient(to bottom right, #DBD2FC, #DBD2FC 10%, #FDE2E0 28%, #E6E4EA 59%, #E6E1EB 100%, #E0E9F4)',
          }),
          boxShadow: {
            'lile-shadow': '0px 4px 15px rgba(219, 210, 252, 0.64)',
          },
          fontFamily: {
          'kanit': ['Kanit', 'sans-serif'],
           },
        },

      }
    }
  </script>
</head>
<body class="bg-custom-gradient h-dvh ">
    <!-- AppBar -->
    <header class="w-5/6 absolute top-0 right-0 bg-transparent ml-1/5">
      <div class="flex p-4">
        <!-- Logo -->
        <div class="flex items-center gap-2">
          <img src="../static/sakura_logo.png" alt="Logo" class="w-56 h-24">
        </div>
  
        <!-- Menu -->
        <nav>
          <!-- Aquí puedes agregar elementos de menú adicionales si es necesario -->
        </nav>
      </div>
    </header>
  <!-- SIDEBAR -->
  <section class="block ">
    <div class="fixed sidebar w-1/6 bg-light-bg-color border-r border-line_light">
      <div class="logo w-5/6 pb-24 ">

        <div class="flex justify-start gap-2 mt-6">
          <img class="w-16 h-16 rounded-full" src="../static/muelita.jpg" alt="">
          <div class="font-medium dark:text-white">
            <div>Jese Leos</div>
            <div class="text-sm text-gray-500 dark:text-gray-400">Joined in August 2014</div>
          </div>
        </div>

      </div>
      <div class="menu-content pt-[15%] px-4 text-letters-color font-kanit font-regular">
        <a href="#" class="active my-1 w-full active:shadow-md shadow-lile-shadow inline-flex">
          <img class="w-6 h-6 mr-4 " src="../static/dashboard-icon.svg" alt="">
          <span>Inicio</span>
        </a>
        <a href="#" class=" my-1 w-full  inline-flex">
          <img class="w-6 h-6 mr-4 " src="../static/box.svg" alt="">
          <span>Almacen</span>
        </a>
        <a href="#" class="my-1 w-full  inline-flex">
          <img class="w-6 h-6 mr-4 " src="../static/users-profiles-01.svg" alt="">
          <span>Empleados</span>
        </a>
        <a href="#" class="my-1 w-full  inline-flex">
          <img class="w-6 h-6 mr-4 " src="../static/delivery.svg" alt="">
          <span>Proveedores</span>
        </a>
        <a href="#" class="my-1 w-full  inline-flex">
          <img class="w-6 h-6 mr-4 " src="../static/package-plus.svg" alt="">
          <span>Entradas</span>
        </a>
        <a href="#" class="my-1 w-full  inline-flex">
          <img class="w-6 h-6 mr-4 " src="../static/package-minus.svg" alt="">
          <span>Salidas</span>
        </a>
        
      </div>
      <a href="#" class="my-1 w-full font-kanit font-regular logout">
        <img class="w-6 h-6 mr-4" src="../static/logout-01.svg" alt="">
        <span>Cerrar</span>
      </a>
    </div>
  </section>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>

</body>

</html>